{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">2023级文化课老师综合管理考核成绩</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for item in obj  %}
                            <th>1{{ item.lable }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item in obj  %}
                            <td>1{{ item }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                  </table>
                
            </div>
          </div>
    </div>
{% endblock content %}




