<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Goods Lists</h1>   
        <a href="https://www.mi.com/redmi-note-12t-pro/specs" target="_blank">
            <img style="width: 150px;" src="/static/a1.png" alt="">
        </a>
        <a href="https://www.mi.com/shop/buy/detail?product_id=18363" target="_blank">
            <img style="width: 150px;" src="/static/a2.png" alt="">
        </a>
        <a href="https://www.mi.com/shop/buy/detail?product_id=18077" target="_blank">
            <img style="width: 150px;" src="/static/a3.png" alt="">
        </a>
    </div>
</body>
</html>