<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的联通</title>
</head>
<body>
    <h1>中国联通</h1>
    <h2>中国联通</h2>
    <div>
        <span>时间：</span>
        <span style="color: red"> 2023-6-27</span>
    </div>
    <div>
        <img style='height: 200px; width:200px' src="/static/01.jpg" alt="">
        sadasfasfsafasf
    </div>
        <div><a href="/register">register</a></div>
    <a href="https://www.163.com">网易</a>
    <a href="/get/news">get_news</a>
    <a href="/goods/list">goods_list</a>
    <a href="/user/list">userlist</a>
    <h1>中国运营商</h1>
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>
    <table border="01">
        <thead>
            <tr> <th>ID</th> <th>name</th> <th>age</th> </tr>
        </thead>
        <tbody>
            <tr> <td>01</td> <td>john</td> <td>18</td> </tr>
            <tr> <td>02</td> <td>juice</td> <td>18</td> </tr>
            <tr> <td>03</td> <td>ace</td> <td>18</td> </tr>
            <tr> <td>04</td> <td>apple</td> <td>18</td> </tr>
        </tbody>
    </table>
</body>
</html>