<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>user list</h1>
    <table border="1" cellspacing="1" cellpadding="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>头像</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>moreinfo</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img style="height:50px" src="/static/01.jpg" alt="">
                </td>
                <td>lucy</td>
                <td>123@123.com</td>
                <td>
                    <a href="https://mi.com" target="_blank">more info</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img style="height:50px" src="/static/01.jpg" alt="">
                </td>
                <td>lucy</td>
                <td>123@123.com</td>
                <td>
                    <a href="https://mi.com" target="_blank">more info</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img style="height:50px" src="/static/01.jpg" alt="">
                </td>
                <td>lucy</td>
                <td>123@123.com</td>
                <td>
                    <a href="https://mi.com" target="_blank">more info</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img style="height:50px" src="/static/01.jpg" alt="">
                </td>
                <td>lucy</td>
                <td>123@123.com</td>
                <td>
                    <a href="https://mi.com" target="_blank">more info</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
        </tbody>
    </table>
    <input type="text">
    <input type="password">
    <input type="file">
    <div>
        <input type="radio" name="n1">男
        <input type="radio" name="n1">女
    </div>
    <div>
        <input type="checkbox">football
        <input type="checkbox">basketball
        <input type="checkbox">ball
    </div>
    <div>
        <input type="button" value="提交">提交按钮
        <input type="submit" value="提交">提交表单
    </div>
    <select>
        <option>shanghai</option>
        <option>beijing</option>
        <option>linyi</option>
    </select>
    <textarea name="" id="" cols="30" rows="10"></textarea>
</body>
</html>