{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">折线图</div>
            <div class="panel-body">
                111111111111111
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                <div class="panel-heading">柱状图</div>
                <div class="panel-body">
                    <div id="m2" style="width: 100%;height:400px;"></div>
                </div>
                </div>    
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">饼图</div>
                    <div class="panel-body">
                      111111111111111
                    </div>
                <div>   
            </div>   
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static "js/echarts.js" %}"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('m2'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
          data: ['张三','李四']
        },
        xAxis: {
          data: ['1月', '2月', '3月', '4月', '5月', '6月']
        },
        yAxis: {},
        series: [
          {
            name: '张三',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          },
          {
            name: '李四',
            type: 'bar',
            data: [25, 10, 16, 40, 20, 80]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
{% endblock js %}
